<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="myapp">
      <div></div>
      <!-- aggiungi task -->
      <input
        type="text"
        v-model="newTask"
        @keyup.enter="addTask"
        placeholder="Inserisci nuova Task"
      />
      <button @click="addTask()">Aggiungi</button>
      <!-- lista -->
      <ul>
        <li v-for="task, i in tasks" :key="i" @click="itemDone(i)" id="my-list">
          {{tasks[i].text}}
          <span @click="removeItem(i)"> &#x02A02; </span>
        </li>
      </ul>
    </div>
    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/script.js"></script>
  </body>
</html>
